<IfModule mod_rewrite.c>

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} admin[/]modal[/](.*)$  [NC]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule admin[/]modal[/](.*)$ index.php?page=$1&%1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} admin[/]action[/](.*)$  [NC]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule admin[/]action[/](.*)$ index.php?action=$1&%1
RewriteRule admin[/]ajaxAction[/](.*)$ index.php?ajaxAction=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} admin[/]*(.*)$  [NC]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule admin[/]*(.*)$ index.php?page=$1&%1

#RewriteCond %{REQUEST_URI} admin[/]*(.*)$  [NC]
#RewriteRule ^([a-zA-Z0-9\/\=\?\&]+)$ index.php?page=%1
#RewriteRule ^([a-zA-Z0-9/]+)[/]*$ index.php?page=$1
#RewriteRule [^\/][a-zA-Z0-9/]+(?=\?) index.php?page=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !admin [NC]
RewriteRule ^sales$ index.php?id=collection&category_friendly_url=Sales [QSA]
RewriteRule ^action/([a-zA-Z0-9-]+)/?$ index.php?action=$1
RewriteRule ^ajaxAction/([a-zA-Z0-9-]+)/?$ index.php?ajaxAction=$1
#RewriteRule ^blog/([a-zA-Z0-9-]+)/?$ index.php?id=blogpost&post_friendly_url=$1
RewriteRule ^collections/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$ index.php?id=productDetails&category_friendly_url=$1&product_friendly_url=$2
RewriteRule ^collections/([a-zA-Z0-9-]+)/?$ index.php?id=collection&category_friendly_url=$1 [QSA]
RewriteRule ^([a-zA-Z0-9\/\=\?\&]+)$ index.php?id=$1
</IfModule>