* { padding: 0; margin: 0; }
.row-no-padding > [class*="col-"] { padding-left: 0 !important; padding-right: 0 !important; }
.row-no-margin {margin: 0;}

body { font-family: Roboto, Arial, sans-serif; font-weight: 300; color: #2d200c; }
a:focus, a:hover, :focus, :hover { outline: none; text-decoration: none; }
input, textarea { font-family: Roboto, Arial, sans-serif; font-weight: 300; }
textarea { resize: vertical; }

.genColor{ color: #2d200c!important; }
.vcenter{display: inline-block; vertical-align: middle; float: none;}

.slideanim { visibility: hidden; }
.slide { animation: slide 1s; -webkit-animation: slide 1s; -o-animation: slide 1s; -moz-animation: slide 1s; visibility: visible; }
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@-moz-keyframes slide { 0% { opacity: 0; -webkit-transform: translateY(70%); } 100% { opacity: 1; -webkit-transform: translateY(0%); } }
@-o-keyframes slide { 0% { opacity: 0; -webkit-transform: translateY(70%); } 100% { opacity: 1; -webkit-transform: translateY(0%); } }
@-webkit-keyframes slide { 0% { opacity: 0; -webkit-transform: translateY(70%); } 100% { opacity: 1; -webkit-transform: translateY(0%); } }
@keyframes slide { 0% { opacity: 0; -webkit-transform: translateY(70%); } 100% { opacity: 1; -webkit-transform: translateY(0%); } }

.carousel-fade .carousel-inner .item { opacity: 0; transition-property: opacity; }
.carousel-fade .carousel-inner .active { opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right { opacity: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left { opacity: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

/*Color Pallete Start*/
.orange { color: #fdc300; }
.orange_deeper { color: #fda700; }
.brown { color: #665041; }
.brown_background { background-color: #665041; }
.grayish { background-color: #68625d; }
.contactHero { background: url("../img/aerialRoom_m.jpg") no-repeat center 85% /cover;}
.text_color { color: #2d200c; }
/*Color Pallete End*/

/*TODO to be removed. No height allowed in responsive!!!*/
.indexImageHeight{height: 508px; min-height: 508px;}
.navbar { margin-bottom: 0; background-color: white; z-index: 9999; border: 0; font-size: 12px; letter-spacing: 4px; border-radius: 0;-webkit-transition: opacity .5s; -moz-transition: opacity .5s; -ms-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
.navbar:hover{opacity: 1; -moz-opacity: 1; -webkit-opacity: 1;}
.navbar-nav { text-align: center;}
.navbar-default .navbar-collapse { border: none; }
.navbar-collapse li { text-align: center; }
.navbar li a, .navbar .navbar-brand { /*add here underline color: #fff;*/ }
.navbar .navbar-brand {left:15px;position: absolute; text-align: center; border-radius: 50%; padding: 0; margin: 0 !important; width: 110px; height: 110px; background-color: white;display: block;}
.navbar .navbar-brand:before {content: ''; display: inline-block; vertical-align: middle; height: 100%;}
.navbar .navbar-brand >img{display: inline-block; vertical-align: middle;max-width: 100%; height:auto;}
.navbar .navbar-brand:hover{background-color: white;}
.navbar.opacity70{opacity: .7; -moz-opacity: .7; -webkit-opacity: .7;}

.navbar-nav li.active a {background-color: #96877D!important;color: #fff!important; }
.navbar-nav li a:hover { background-color: transparent !important; color: #2d200c!important;}
.navbar-default .navbar-toggle { border-color: transparent; color: white !important;}

.btn-default { color: #fff; background-color: #fdc300; border-color: #fdc300; }
.btn-default:focus, .btn-default.focus { color: #fff; background-color: #fdbd16; border-color: #fdbd16; }
.btn-default:hover { color: #fff; background-color: #fdbd16; border-color: #fdbd16; }
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default { color: #fff; background-color: #c5930c; border-color: #c5930c; }
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus { color: #fff; background-color: #c5930c; border-color: #c5930c; }

.headerTitle { font-family: Roboto, Arial, sans-serif; font-weight: 300; font-size: 34px; display: inline-block; margin: 10px 0 20px 0; }
.contactHero .headerTitle { text-shadow: 1px 0 1px #000;}
.noteTitle { font-family: Roboto, Arial, sans-serif; font-weight: 300; font-size: 30px; display: inline-block; margin: 10px 0 20px 0;font-style: italic;}
.titlesBorder { margin: 20px auto; border: 2px solid #FDC300; border-radius: 2px; width: 70%; }
.titlesBorder.invisible{margin: 40px auto;border: 2px solid transparent;}

.belowHeader { margin-top: 50px; }
.carousel-container { float: left; width: 100%;}
.carousel-container:before { content: ""; height: 100%; display: inline-block; vertical-align: middle; }

.carousel-container#first{background: url("../img/reformer_m.jpg") no-repeat center 65% /cover; }
.carousel-container#second{background: url("../img/aerialRoom_m.jpg") no-repeat center 65% /cover; }
.carousel-container#third{background: url("../img/pilatesRoom_m.jpg") no-repeat center 65% /cover; }

.carousel-info { vertical-align: middle; display: inline-block; margin: 5% 0; width: 85%; color: white; position: relative; z-index: 100; text-align: center;max-height: 427px;}
.carousel-info > p { width: 60%; display: inline-block; }
.carousel-container > img { width: 100%; top: 0; position: absolute; }
.carousel-indicators li { background-color: white; border: none; margin: 0 15px; }
.carousel-indicators li.active { background-color: #fdc300; margin: 0 15px; }

.quote {width: 90%; display: inline-block; font-family: Roboto, sans-serif; font-weight: 300; font-style: italic;text-align: center;}
.quote h3{font-size: 65px; line-height: 1.375em; margin: 70px 0 30px 0; text-shadow: 4px 2px 1px #000;}
.quote footer { color: #fdc300; font-size: 26px; text-align: right;text-shadow:none;}
.quote .translatedQuote {font-size:20px;width:100%;text-shadow: 2px 1px 1px #000;}
.generalTextContainer { position: relative; text-align: center; }
.textHolder { display: inline-block; position: relative; margin:10% 0; }
.textHolderPilates { display: inline-block; position: relative; margin:5% 0; }
.textHolder:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.textHolderPilates:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.textHolderInside { display: inline-block; vertical-align: middle; width: 85%; color: white; font-size:20px;}
.textHolderPilatesInside { display: inline-block; vertical-align: middle; width: 88%; color: white; font-size:20px;}
#program .textHolderInside{ color: #2d200c;}
.imageHolder { background: url("../img/exercise.jpg") no-repeat right 33% /cover; }

.parallaxImage { background: url("../img/paraPen.jpg") no-repeat fixed center / cover; display: inline-block; width: 100%; opacity: .6; -moz-opacity: .6; -webkit-opacity: .6; }

.parallaxImage:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
.startPilatesDimensions { height: 350px; width: 350px; }
.startPilates { box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); background-color: #5f574a; opacity: 0.85; vertical-align: middle; display: inline-block; margin:10% 0;}
.startPilates:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.motoContainer { color: white; display: inline-block; vertical-align: middle; width: 80%; font-family: Roboto, Arial, sans-serif; font-weight: 300; font-size: 46px; }
.comment-container { width: 50%; margin: 10% 0; font-family: Roboto, Arial, sans-serif; font-weight: 100; font-style: italic; color: white; position: relative; display: inline-block; cursor: default; }
.comment {font-size: 35px; display: inline-block; width: 80%; }
.openQuote, .closeQuote { display: inline-block; width: 44px; height: 40px; }
.openQuote { vertical-align: top;background: url("../img/openQuote.png") no-repeat;background-size: contain;}
.closeQuote { vertical-align: bottom; background: url("../img/closeQuote.png") no-repeat;background-size: contain;}
.author { width: 100%; float: left; margin-top: 35px; }
.training { margin: 7% 0; }
.fundamentals { margin-top: 40px; }

/*Footer Start*/
footer { margin: 20px 0; }
footer ul { list-style: none; margin: 20px 0; }
footer li { display: inline-block; padding: 0 10px; border-right: 1px #2c2207 solid; }
footer li:last-child { border: none; }
footer li a { font-family: Roboto, Arial, sans-serif; font-weight: 400; color: #2c2207; font-size: 17px; }
footer li a:hover, footer li a:active, footer li a:visited, footer li a:focus { color: #2c2207; text-decoration: none; }
footer .extraInfo { font-family: Roboto, Arial, sans-serif; font-weight: 400; color: #2c2207; margin: 10px 0; display: inline-block; cursor: default; }
footer a.toTop { position: absolute; right: 4%; z-index: 100; border-radius: 50%; width: 45px; opacity: .5; height: 45px; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -ms-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s; }
footer a.toTop:hover { opacity: 1; -moz-opacity: 1; -webkit-opacity: 1; }
footer a.toTop:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
footer .glyphicon { font-size: 20px; color: #2c2207; display: inline-block; vertical-align: middle; top: 0; left: -1px; }
/*Footer End*/

.heroHeader { padding: 90px 0; color: white; }
.heroHeader .heroSubTitle { font-family: Roboto, Arial, sans-serif; font-weight: 300; font-style: italic; font-size: 26px;text-shadow: 1px 0 1px #000;}
.contactInfo { display: inline-block; width: 80%; }
.formContainer { float: left; width: 100%; margin: 85px 0; }
.timeTableContainer {width: 100%;margin: 85px 0 40px; }
.formContainer .row, .timeTableContainer .row { margin: 20px 0; }
.form-control:focus { border-color: #665041; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 80, 65, .6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 80, 65, .6); }

.aboutHero{background: url("../img/aboutHero.jpg") no-repeat center 60% /cover; text-align: center; padding: 108px 0;}
.aboutHeroTitle{ display: inline-block; vertical-align: middle; color: white; width: 35%; font-size: 42px; font-family: Roboto, Arial, sans-serif; font-weight: 100; font-style: italic; padding:100px 0;}

.aboutIntroduceMyselfImageContainer { display: inline-block; width: 100%;padding: 5% }
.aboutIntroduceMyselfImage { height: 100%; background: url("../img/penyBio.jpg") no-repeat center 30% /cover; }
.aboutIntroduceMyselfInfo { text-align: center; padding:5%;font-size: 18px; }
.aboutImageBigLeft { height: 500px; margin-top: 70px;  background: url("../img/gallery2.jpg") no-repeat center 30% /cover; }
.aboutImageBigRight { height: 500px; margin-top: 70px;  background: url("../img/gallery1.jpg") no-repeat center 30% /cover; }
.aboutImageSmallCenterUp { height: 250px; margin-top: 70px;background: url("../img/programHero.jpg") no-repeat center 30% /cover; }
.aboutImageSmallCenterDown { height: 249px; background: url("../img/gallery4.jpg") no-repeat center 30% /cover; }
.aboutTimeTable { border-collapse: separate; }
.aboutTimeTable th { text-align: center; background-color: #423427; color: #fff; border-bottom: 0 !important; width: 15%; font-weight: normal; font-size: 18px; height: 60px; vertical-align: middle !important; }
.aboutTimeTable th:first-child { border-top-left-radius: 4px; width: 10%; }
.aboutTimeTable th:last-child { border-top-right-radius: 4px; }
.aboutTimeTable td { vertical-align: middle !important; font-size: 16px; border-color: #423427 !important; height: 70px; }
.aboutTimeTable tr:first-child td { border-top: 0; }
.aboutTimeTable td:first-child { border-left: 1px solid #423427; border-top: none; border-right: 1px solid #423427; padding: 8px 8px 8px 28px; text-align: left; }
.aboutTimeTable td:last-child { border-right: 1px solid #423427; }
.aboutTimeTable tr:last-child td { border-bottom: 1px solid #423427; }
.aboutTimeTable tr:last-child td:first-child { border-bottom-left-radius: 4px; }
.aboutTimeTable tr:last-child td:last-child { border-bottom-right-radius: 4px; }


.programHero { background: url("../img/gallery3.jpg") no-repeat center 43% /cover; text-align: center;padding: 108px 0; }
.programHeroTitle { display: inline-block; vertical-align: middle; color: white; width: 35%; font-size: 42px; font-family: Roboto, Arial, sans-serif; font-weight: 100; font-style: italic; padding: 100px 0}


.panel-group { margin: 20px; }
.panel-group a[data-toggle="collapse"] { display: inline-block; width: 100%; }
.panel-body { padding: 0; }
.panel-body th, .panel-body td { text-align: center; }
.panel-body th:hover, .panel-body td:hover { cursor: default; }
.mobile { display: none; }
.desktop { display: block; }
.mapContainer{min-height:540px;width:100%;}
.carousel-fade .carousel-inner .item {opacity: .7;transition-property: opacity;}
.carousel-fade .carousel-inner .active {opacity: 1;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {left: 0;opacity: 1;z-index: 1;}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {opacity: .95;}
.meetOurTeamContainer{background-color:#E0DBD7;text-align:center;margin-top: 70px;padding: 50px 0;}
.partnersContainer{width:40%;}
.partner{height: 356px;overflow: hidden;padding: 30px 0 0 0;transition: opacity .3s ease-in-out; -moz-transition: opacity .3s ease-in-out; -webkit-transition: opacity .3s ease-in-out;}
.partnerImage{cursor: pointer;height: 100%;width: 82%;box-shadow: 0px 1px 7px #888;margin-top: 5px;-webkit-transition: all 300ms ease-out;-moz-transition: all 300ms ease-out;-o-transition: all 300ms ease-out;-ms-transition: all 300ms ease-out;transition: all 300ms ease-out;}
.partnerAP{background: url("../img/poulopoulos.jpg") no-repeat center 30% /cover;margin: 0 auto;}
.partner .simple-caption {margin: 0 auto;background-color: rgba(0,0,0,0.6);color: #fff;z-index: 100;padding: 0 5%;-webkit-transition: all 300ms ease-out;-moz-transition: all 300ms ease-out;-o-transition: all 300ms ease-out;-ms-transition: all 300ms ease-out;transition: all 300ms ease-out;height: 50px;width: 82%;display: block;line-height: 25px;text-align: center;font-size:16px;font-weight: 700;}
.partner:not(.partnerImageFade):hover .simple-caption {margin: 0 auto;-moz-transform: translateY(-100%);-o-transform: translateY(-100%);-webkit-transform: translateY(-100%);transform: translateY(-100%);}
.partnerCV{font-size: 18px; text-align: left;padding: 0 15%;background-color: #E0DBD7;}
.partnerImageFade{opacity:.3;transition: opacity .3s ease-in-out; -moz-transition: opacity .3s ease-in-out; -webkit-transition: opacity .3s ease-in-out;}

.blogContainer {width:70%;margin-top: 100px;padding: 0;}
.blogHeaderTitle {font-family: Roboto, Arial, sans-serif;font-weight: 700;font-size: 32px;display: inline-block;margin: 10px 0 20px 0;font-style: italic;}
.blogPostTitlesBorder {margin: 20px auto;border: 2px solid #FDC300;border-radius: 2px;width: 75%;}
.blogTitlesBorderGrid {margin: 10px auto;border: 1px solid #FDC300;border-radius: 2px;width: 75%;}
.blogBorder {margin: 10px auto 25px;border: 1px solid #FDC300;border-radius: 2px;width: 100%;opacity: 0.6;}
.blogImageList {height: 120px;}
.blogImageGrid {height: 160px;}
.blogPostPreviewTitleList {font-weight: 700;font-size: 18px;text-align: left;margin-bottom: 20px;}
.blogPostPreviewTitleGrid {font-weight: 700;font-size: 18px;text-align: center;margin: 20px 0;display: inline-block;}
.blogPostPreviewTextList {font-size: 16px;text-align: left;max-height: 65px;overflow: hidden;}
.blogPostPreviewTextGrid {font-size: 16px;text-align: center;max-height: 90px;min-height: 90px;overflow: hidden;margin-bottom: 30px;}
.blogReadMore {text-align: right;font-size: 12px;font-weight: 700;font-style: italic;}
.blogReadMore a, .blogReadMore a:hover, .blogReadMore a:active{color: #000;}
.blogPostBorder {margin: 20px auto;border: 1px solid #FDC300;border-radius: 2px;width: 100%;opacity: 0.6;}
.blogPostImage {height: 400px;}
.blogPostTextContainer {padding: 3% 0;font-size: 18px;text-align: left;}
.blogPostShareContainer {font-size: 14px; text-align: right;}

.fa {font-size: 14px;width: 24px;text-align: center;border-radius: 100%;height: 24px;line-height: 24px;margin: 0 5px;}
.fa:first-child {margin-left: 10px;}
.fa-facebook, .fa-facebook:hover, .fa-facebook:focus {background: #3B5998;color: white;}
.fa-twitter, .fa-twitter:hover, .fa-twitter:focus {background: #55ACEE;color: white;}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .carousel-info{max-height: 380px;}
    .quote h3 { font-size: 40px;text-shadow: 3px 0 1px #000;}
    .quote footer { font-size: 22px;text-shadow:none;}
    .headerTitle{font-size: 26px;}
    .noteTitle{font-size: 24px;}
    .heroHeader .heroSubTitle{font-size: 20px;}
    .textHolderInside, .textHolderPilatesInside {font-size:18px;}
    .comment{font-size: 23px;}
    .openQuote, .closeQuote {width: 23px; height: 23px; }
    .startPilatesDimensions { width: 245px; height: 245px; }
    .motoContainer{font-size:32px;}
    .aboutTimeTable td:first-child{padding: 8px 8px 8px 12px;}
    .programHero { padding: 104px 0; }
    .aboutHero{padding: 104px 0;}
    .indexImageHeight { height: 500px; min-height: 500px; }
    .partner{height: 286px;}
    .partnerImage{height: 256px;width: 90%;}
    .partner .simple-caption {width: 90%;font-size:15px;}
    .blogHeaderTitle{font-size: 22px;}
    .blogContainer {width:90%;}
    .blogPostTextContainer {font-size: 15px;}
    .blogPostShareContainer {font-size: 12px;}
    .blogPostImage {height: 300px;}
    .fa {font-size: 14px;width: 22px;height: 22px;line-height: 22px;}
}

@media screen and (max-width: 768px) {
    .mobile { display: block; } .desktop { display: none; }
    .startPilatesDimensions { width: 250px; height: 250px; }
    .carousel-info{max-height: 250px;}
    .carousel-indicators li{width: 8px; height: 8px;}
    .carousel-indicators .active{width: 9px; height: 9px;}
    .quote h3 { font-size: 25px;text-shadow: 1px 1px 0 #000;}
    .quote footer { font-size: 15px;text-shadow:none;}
    .comment{font-size: 19px;}
    .openQuote, .closeQuote {width: 12px; height: 12px; }
    .motoContainer{font-size:23px;}
    .headerTitle{font-size: 22px;}
    .noteTitle{font-size: 18px;width:85%;}
    .textHolderInside, .textHolderPilatesInside {font-size:16px;}
    .heroHeader .heroSubTitle{font-size: 16px;}
    .timeTable .table{margin-bottom: 0;border-top: 1px solid #423427;}
    .timeTable .table td{border-top: 1px solid #423427;font-size: 15px;}
    .timeTable .table tr td:first-child{width: 50%; border-right: 1px solid #423427;}
    footer li a{font-size: 14px;}
    footer a.toTop{width: 35px;height: 35px;right:3%;}
    footer .glyphicon{font-size:15px;}
    .panel-default > .panel-heading{background-color: #423427;color:#fff;border-color: #423427;}
    .panel-default>.panel-heading+.panel-collapse>.panel-body{border:0;}
    .panel-default {border-color: #423427;}
    .aboutIntroduceMyselfInfo{padding: 10%;font-size: 16px;}
    .programHero { padding: 102px 0; }
    .aboutHero{padding: 102px 0;}
    .mapContainer{min-height:450px;width:100%;}
    .indexImageHeight { height: 300px; min-height: 300px; }
    .navbar .navbar-brand{ width: 100px;height: 100px;}
    .navbar .navbar-brand >img{width: 75px;}
    .partner{height: 306px;}
    .partnerImage{height: 276px;width: 80%;}
    .partner .simple-caption {width: 80%;font-size:16px;}
    .partnerCV{font-size: 16px;}
    .parallaxImage {background: url("../img/paraPen.jpg") no-repeat fixed 42%/ cover;}
    .aboutImageBigLeft{ height: 275px;background-size: 100%; margin-top:0;}
    .aboutImageBigRight{ height: 275px;background-size: 110%;background-position-x: 80%;}
    .blogHeaderTitle{font-size: 20px;}
    .blogContainer {width:90%;}
    .blogPostTextContainer {font-size: 14px;}
    .blogPostShareContainer {font-size: 11px;}
    .blogPostImage {height: 200px;}
    .fa {font-size: 12px;width: 20px;height: 20px;line-height: 20px;}
}

@media screen and (min-width: 512px) and (max-width: 640px) {
    .partner{height: 266px;}
    .partnerImage{height: 236px;width: 80%;}
    .partner .simple-caption {width: 80%;font-size:14px;}
    .partnerCV{font-size: 16px;}
}

@media screen and (max-width: 512px) {
    .startPilatesDimensions { width: 200px; height: 200px; }
    .navbar .navbar-brand{ width: 85px;height: 85px;}
    .navbar .navbar-brand >img{width: 60px;}
    .partner{height: 236px;}
    .partnerImage{height: 206px;width: 90%;}
    .partner .simple-caption {width: 90%;font-size:13px;}
    .partnerCV{font-size: 16px;}
    footer ul{margin: 60px 0 20px 0;}
    footer li {padding: 0 5px;}
}