* {
    padding: 0;
    margin: 0;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #2d200c;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*Color Pallete Start*/
.orange {
    color: #fdc300;
}

.orange_deeper {
    color: #fda700;
}

.brown {
    color: #665041;
}

.brown_background {
    background-color: #665041;
}

.grayish {
    color: #68625d;
}

.text_color {
    color: #2d200c;
}

/*Color Pallete End*/

.h450 {
    height: 450px;
    min-height: 450px;
}

.navbar {
    margin-bottom: 0;
    background-color: white;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    /*line-height: 1.42857143 !important;*/
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    /*add here underline*/
    /*color: #fff;*/
}

.navbar .navbar-brand {
    height: auto;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    /*add here underline*/
    /*color: #f4511e !important;*/
    /*background-color: #fff !important;*/
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: white !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.textContainer {
    position: relative;
    text-align: center;
}

.textHolder {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.textHolder:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.textHolderInside {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    color: white;
}

.imageHolder {
    background: url("../img/pil_home.png") no-repeat center 30% /cover;
}

.parallaxImage {
    background: url("../img/parallaxBookNow.png") no-repeat fixed center bottom / cover;
    display: inline-block;
    width: 100%;
}

.parallaxImage:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.startPilatesDimensions {
    height: 350px;
    width: 350px;
}

.startPilates {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #5f574a;
    opacity: 0.85;
    vertical-align: middle;
    display: inline-block;
}

.startPilates:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.motoContainer {
    color: white;
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .startPilatesDimensions {
        width: 250px;
        height: 250px;
    }

    .h450 {
        height: 300px;
        min-height: 300px;
    }
}